<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="navbar-brand hidden-xs-down navbar-logo" href="/">
    <!-- {{ site.brand }} -->
    This One For You  <i class="fa fa-heartbeat" style="font-size:48px;color:red"></i>
    </div>
    <button class="navbar-toggler hidden-sm-up collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#CollapsingNavbar"
            aria-controls="CollapsingNavbar"
            aria-expanded="false"
            aria-label="Toggle navigation">
        &#9776;
    </button>
    <div class="navbar-brand navbar-brand--mobile hidden-sm-up navbar-logo" href="/">
    <!-- {{ site.brand }} -->
    This One For You  <i class="fa fa-heartbeat" style="font-size:28px;color:red"></i></div>
    <div class="collapse navbar-toggleable-xs pull-sm-right" id="CollapsingNavbar">
        <ul class="nav navbar-nav ca">
            <li class="nav-item">
                <div class="nav-link" data-link=".container-top">Miss.</div>
            </li>
            <li class="nav-item">
                <div class="nav-link" data-link=".container-instagram">Hani</div>
            </li>
            <li class="nav-item">
                <div class="nav-link" data-link=".container-contacts">Motu</div>
            </li>
        </ul>
    </div>

    <div id="hscroll" class="hscroll">
        <div id="filled" class="filled"></div>
    </div>

    <script>
        horScroll = function(){    
            document.getElementById("filled").style.width = `${(window.scrollY) / (document.body.scrollHeight - window.innerHeight) * 100}%` ;
        }
    </script>
</nav>
