<header class="container-fluid container-top">
    <div class="row main-pg">
        <col-md-12>
            <img src="../img/1.jpg" class="container-top-image img-circle m-x-auto shadow p-3 mb-5 bg-white rounded" alt="{{ site.brand }}">
            <h1 class="container-top-name">
                <!-- {{ site.brand }} -->
                Happy BirthDay To You !
            </h1>
            <h2 class="container-top-headline">
                <!-- {{ site.headline }} -->
                My Dear Dairymilk, I <i class="fa fa-heart" style="font-size:25px;color:red"></i> U
            </h2>
        </col-md-12>
    </div>
</header>
