.ca{
    font-family: 'Lobster', cursive;
}

.main-pg{
    padding: 20px;
    background-image: url(../../img/paris.jpg);
    background-size: cover; 
}

.main-pg h1{
    background-color: papayawhip;
    border-radius: 40%; 
    padding: 5px;
    margin: 5px;
    margin-top: 16px;
}

.main-pg h2{
    background-color: rgb(255, 142, 37);
    border-radius: 30%;
    padding: 6px; 
}

.main-pg img{
    /* box-shadow:rgb(255, 136, 0) 2px 6px 4px 4px; */
    box-shadow:rgb(255, 136, 0) 0 0 2px 6px;

}


/*------------------------------------HORIZONTAL SCROLL-------------------------------------------------------------*/


.hscroll{

    position: fixed;
    top: 80px;
    visibility: visible;
    display: flex;
    align-items: stretch;
    height: 2.5px;
    z-index: 100;
    width: 100%;
    
}

@media screen and (max-width: 543px) {
    .hscroll{
        top: 56px;
    }
}

@media screen and (min-width: 544px) and (max-width: 991px){
    .hscroll{
        top: 74px;
    }
}

.filled{
    
    background-color:#fff;
    box-shadow: 0px 0px 1px #fff,0px 0px 2px #fff, 0px 0px 3px #228DFF, 0px 0px 5px #228DFF, 0px 0px 7px #228DFF;
}
